<div class="my-container" >
    <div class="my-container" >
      <div class='button-area' style=''>
      <button class="my-button">1071</button>
      <button class="my-button">1081</button>
      <button class="my-button">12125</button>
      <button class="my-button">12156</button>
      <button class="my-button">12329</button>
      <button class="my-button">12330</button>
      
      <button class="my-button">13304</button>
      <button class="my-button">31116</button>
    </div>
    <div class="display-area">
      <div class="card" style='width:97%'>
        <div class="card-header">
          <div class='unitdetail' >Unit ID: {{unitID}}</div>
          <div class='unitdetail sub' >{{platform}} / {{camera}}</div>
          <div class="update">
          <mat-form-field class="">
              <input matInput placeholder="Build version">
              
          </mat-form-field>
          <mat-form-field class="">
              <input matInput placeholder="Updated time">
          </mat-form-field>
          
          <button class="my-button" style='height: 35px; width: 10%; ' mat-button> Update</button>
        </div>
        </div>
        <div class="card-content">
         
        </div>
      </div>
    </div>
    </div>
</div>