<mat-toolbar  class="mat-elevation-z5" style='padding-left: 0 ' >
    <button  id='header-bttn' class="docs-button mat-button" style="margin-left:0; padding-left: 0;width: 12.15%; height:100%; border-right:gray 10px;" mat-button> Devtest Admin</button>
    <!-- background-color:#1592A4 -->
    <!-- 01A99C -->
    <!-- 2F91B8 -->
</mat-toolbar>
<div class='left-menu mat-elevation-z5' style='width: 12%;height:80%;padding-top:1px; '>
    <mat-card class='mat-elevation-z5' style='height: 10%; ' > 
        Gateway
    </mat-card>
    <mat-card class='mat-elevation-z5 ' style='height: 10%;' > 
        Gateway
    </mat-card>
    <mat-card class='mat-elevation-z5 ' style='height: 10%; ' > 
        Gateway
    </mat-card>
    <mat-card class='mat-elevation-z5 ' style='height: 10%;' > 
        Gateway
    </mat-card>
    <mat-grid-list _ngcontent-c49 class="mat-grid-list" cols='2' rowheight="2:1">
        <mat-grid-tile style='left: 0px; width: calc(((50% - 0.5px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 0.5px) * 1) + 0px);'>
            <figure class="mat-figure">1</figure>
        </mat-grid-tile>
        <mat-grid-tile style='left: 0px; width: calc(((50% - 0.5px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 0.5px) * 1) + 0px);'>
            <figure class="mat-figure">1</figure>
        </mat-grid-tile>
        <mat-grid-tile style='left: 0px; width: calc(((50% - 0.5px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 0.5px) * 1) + 0px);'>
            <figure class="mat-figure">1</figure>
        </mat-grid-tile>
        <mat-grid-tile style='left: 0px; width: calc(((50% - 0.5px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 0.5px) * 1) + 0px);'>
                <figure class="mat-figure">1</figure>
        </mat-grid-tile>
        
    </mat-grid-list>

</div>
