<mat-toolbar  class="mat-elevation-z5" style='padding-left: 0 ' >
    <button  id='header-bttn' class="docs-button mat-button" style="margin-left:0; padding-left: 0;width: 15.15%; height:100%; border-right:gray 10px;" mat-button> Devtest Admin</button>
    <!-- background-color:#1592A4 -->
    <!-- 01A99C -->
    <!-- 2F91B8 -->
</mat-toolbar>
<div class='left-menu mat-elevation-z5' style='width: 15%;height:80%;padding-top:1px; '>
    <mat-card class='mat-elevation-z5' style='height: 80px; background-color:#1592A4; ' > 
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;;;color:white'>DASHBOARD</a>
        <img style='float:right;margin-top:10px;' src='assets/icons/dashboard.png'>
    </mat-card>
    <mat-card class='mat-elevation-z5 ' style='height: 80px; background-color:#01A99C; margin-top:6px; '> 
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;;;color:white'>GATEWAY</a>
        <img style='float:right;margin-top:10px;' src='assets/icons/gateway1.png'>
    </mat-card>
    <mat-card class='mat-elevation-z5 ' style='height: 80px; background-color:#1592A4 ; margin-top:6px;' > 
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;;;color:white'>UNIT</a>
        <img style='float:right;margin-top:10px;' src='assets/icons/unit.png'>
    </mat-card>
    <mat-card class='mat-elevation-z5 ' style='height: 80px; background-color:#01A99C; margin-top:6px;' > 
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;;;color:white'>BUILD</a>
        <img style='float:right;margin-top:10px;' src='assets/icons/build.png'>
    </mat-card>
    <mat-grid-list _ngcontent-c49 class="mat-grid-list" cols='2' rowheight="2:1" style='margin-top: 6px;'>
        <mat-grid-tile style='background: #1592A4;left: 0px; width: calc(((50% - 1px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 1px) * 1) + 0px);'>
            <figure class="mat-figure"></figure>
        </mat-grid-tile>
        <mat-grid-tile style='background: #1592A4;left: 0px; width: calc(((50% - 1px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 1px) * 1) + 0px);'>
            <figure class="mat-figure"></figure>
        </mat-grid-tile>
        <mat-grid-tile style='left: 0px; width: calc(((50% - 1px) * 1) + 0px); margin-top: 6px; padding-top: calc(((25% - 1px) * 1) + 0px);'>
            <figure class="mat-figure"></figure>
        </mat-grid-tile>
        <!-- <div class="imghvr-flip-vert" style="background-color:#D14233;"> -->
        <mat-grid-tile class='active' style='left: 0px; width: calc(((50% - 1px) * 1) + 0px); margin-top: 6px; padding-top: calc(((25% - 1px) * 1) + 0px);'>
                    <img  style='margin-top:-25px; display:block;float:left; position:relative;' src='assets/icons/user1.png'> 
                    <a style='float:left; position:relative;margin-top:50px;margin-left:-40px;;font-size:80%;;color:white'>USER</a>
           
        </mat-grid-tile>
        
    </mat-grid-list>

</div>
