<div class="my-container" >
  <div style='height: 7%'>
  <button class="my-button" >30 server</button>
  <button class="my-button" >40 server</button>
  <button class="my-button" >50 server</button>
  <button (click)='clicklogin60()' class="my-button" >Devtest.v5systems.us</button>
  <button class="my-button" >70 server</button>
  </div>
  <div class="card" [hidden]='!loggedin60'>
    <div class="card-header" >
       <div style='float:left; height:40px;vertical-align: middle;padding-top:10px;'> 60 server</div>
      <div style='float:right;height:40px;margin-left:40px;vertical-align: middle;padding-top:10px;'>
        <button (click)='clickallconnectunit60()' >Online units</button>
        <button  >Get version</button>
      </div>
    </div>
    <div class="card-content" style='height:auto' [hidden]="!showunits60form">
        <div class="table-responsive" style="width: 90%;padding: 6px 6px 6px 6px;" >
          <table class="table table-hover">
            <thead >
            <tr class="black-muted-bg"  >
              <th>S.No.</th>
                <th>Unit ID</th>
                <th>IP address</th>
                <th>Network interface</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
                </thead>
                <tbody>
            
            <!-- <tr *ngFor="let userData of allcnntdunitlist60  ; let i = index; trackBy: userId" [hidden]="!(userData.status && showofflineunit)" > -->
            <tr *ngFor="let userData of allcnntdunitlist60  ; let i = index; trackBy: userId" >
              <td style='font-size:15px;'>{{i+1}}</td>
              <td>{{userData.unitId}}</td>
              <td>{{userData.attrInfo.networkInfo?.unitIp}}</td>
              <td>{{userData.attrInfo.v5nmConfig?.Config.Interfaces.iface1.Info}}</td>
              <td>{{userData.status}}</td>
              <td>
                  <!-- <a (click)="display60UnitInfo(userData.unitId)" class="btn btn-primary">Detail</a> -->
                <button mat-button class="btn btn-primary">Detail</button>
              </td>
            </tr>
              </table>
          </div>
    </div>
  </div>
  <div [hidden]="!loggedin60" class="card"> 70 server</div>
  <p> {{message}}</p>
</div>