<div class='white-back' style='border-radius: 10px; background-color:#F5F9FA; '>
<div class="mat-elevation-z5 topbar" style='background-color: #1DA1F2' >
    <button mat-button (click)=gotohome()  class="header-button" >
        Devtest Admin</button>
</div>
<div class="left-menu" >
<div class='' style='height: 100%'>
    <a routerLink='dashboard' routerLinkActive="active" style='height:100%'>
    <mat-card class='mat-elevation-z5 sidebutton ' [routerLinkActive]="['isOn']" (click)='dashboardCLicked()'  style='' >
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;color:#1DA1F2; position:absolute;top: 20%;'>DASHBOARD</a>
        <img style='float:left;margin-top:10px;margin-left:59%; position:absolute;top: 20%;' src='assets/icons/dashboard.png'>
    </mat-card>
    </a>
    <a routerLink='gateway' routerLinkActive="active" style='height:100%'>
    <mat-card class='mat-elevation-z5 sidebutton' [class.isOn]='gatewaywasClicked'  (click)='gatewayCLicked()' style=''>
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;;color:#1DA1F2; position:absolute;top: 20%;'>GATEWAY</a>
        <img style='float:left;margin-top:10px;margin-left:59%; position:absolute;top: 20%;' src='assets/icons/gateway1.png'>
    </mat-card>
    </a>
    <a routerLink='unit' routerLinkActive="active" style='height:100%'>
    <mat-card class='mat-elevation-z5 sidebutton' [class.isOn]='unitwasClicked'  (click)='unitCLicked()' style='' >
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;color:#1DA1F2; position:absolute;top: 20%;'>UNIT</a>
        <img style='float:right;margin-top:10px;margin-left:59%; position:absolute;top: 20%;' src='assets/icons/unit.png'>
    </mat-card>
    </a>
    <a routerLink='build' routerLinkActive="active" style='height:100%'>
    <mat-card class='mat-elevation-z5 sidebutton' [class.isOn]='buildwasClicked'  (click)='buildCLicked()'  style='' >
        <a class="clearfix" style='float:left;font-size:80%;margin-top:33px;color:#1DA1F2; position:absolute;top: 20%;'>BUILD</a>
        <img style='float:right;margin-top:10px;margin-left:59%; position:absolute;top: 20%;' src='assets/icons/build.png'>
    </mat-card>
    </a>

    <mat-grid-list _ngcontent-c49 class="mat-grid-list" cols='2' rowheight="2:1" style='margin-top: 15px;'>
        <mat-grid-tile class="active" style='background: white;left: 0px; width: calc(((50% - 13px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 1px) * 1) + 0px); '>
            <figure class="mat-figure"></figure>
        </mat-grid-tile>
        <mat-grid-tile class="active" style='background: white;left: 0px; width: calc(((50% - 13px) * 1) + 0px); margin-top: 0px; padding-top: calc(((25% - 1px) * 1) + 0px); border-top-right-radius: 10px'>
            <figure class="mat-figure"></figure>
        </mat-grid-tile>



        <mat-grid-tile class='active' style='left: 0px; width: calc(((50% - 13px) * 1) + 0px); margin-top: 6px; padding-top: calc(((25% - 1px) * 1) + 0px);border-radius: 10px;background: white;'>
                <a  style='all: unset' (click)='userCLicked()' routerLink='user' routerLinkActive="active" >
                    <div style='margin: -10px;'>
                    <img  style='margin-top:-10px; display:block;float:left; position:relative;' src='assets/icons/user3.png'>
                    <a style='float:left; position:relative;margin-top:50px;margin-left:-40px;;font-size:80%;;color:#1DA1F2'>USER</a>
                    </div>
                </a>
        </mat-grid-tile>
        <mat-grid-tile  class='active' style='left: 0px; width: calc(((50% - 13px) * 1) + 0px); margin-top: 6px; padding-top: calc(((25% - 1px) * 1) + 0px);border-radius: 10px; background: white;'>
            <a  style='all: unset' (click)='logoutCLicked()' >
                <div style='margin: -10px;'>
                <img  style='margin-top:-10px; display:block;float:left;left:5px; position:relative;' src='assets/icons/logout.png'>
                <a style='float:left; position:relative;;margin-top:50px;margin-left:-40px;;font-size:80%;;color:#1DA1F2'>LOGOUT</a>
                </div>
            </a>
        </mat-grid-tile>

    </mat-grid-list>

</div>
</div>
<div class='' style='width:82%; float:right; margin-top: 10px;'>
    <router-outlet></router-outlet>
</div>
</div>
